{% extends '_layout' %}

{% block main %}

    <!-- Section main -->
    <section id="main" >
        <div class="inner">

            <!-- Header -->
            <header class="major special">
                <h1>{{ entry.ouroffersTitle }}</h1>
                {{ entry.ouroffersDescription }}
                <a href="#how-to-book" class="button bt-book">How to book</a>
            </header>
            <!-- End Header -->

            {% set categoryId = craft.categories.slug('fishing-packages').all() %}
            {% set entries = craft.entries.section('erbjudanden').relatedTo(categoryId).orderBy('prioritering').all() %}

        </div>
    </section>

    <section id="one" style="background-color: #f7f7f7;">
        <div class="inner">             
            <!-- Offer - A category and items -->
            <h2>Boat fishing offers</h2>
       
            <div class="offer-wrapper">
                {% for entry in entries %}
                    <div class="card">
                        {% for asset in entry.teaserBild.all() %}
                                <span class="image fit"><img class="card-image" src="{{ asset.url }}" alt=""></span>
                        {% endfor %}
                        <h3>{{ entry.title }}</h3>
                        <p>{{ entry.teaser }}</p>
                        <div class="read-button">
                            <ul class="full-width actions">
                                <li><a href="{{ entry.uri }}" class="full-button button">Learn More</a></li>
                            </ul>
                        </div>	
                    </div>
                {% endfor %}															
            </div>
            <!-- End Offer - A category and items -->

        </div>
    </section>
    <!-- End Section main -->

    <!-- Section howto-->
    <section id="howto">
        <div class="inner">
            <header>
                <h2>How to book</h2>
            </header>
            {% for entry in craft.entries.section('howToBook').limit(1).all() %}
                {{ entry.bokningsBeskrivning }}
            {% endfor %}
        </div>
    </section>
    <!-- End Section howto -->

{% endblock %}